<center>
       
<form action="{% url "bitcointransaction" %}" method="post">

<table>
    <br>
    <br>

   <tr>
       <th>Transaction's Hash</th>
   </tr>
    
    {% for i in listoftransaction %}                                
        <tr>
            <td> <a href="http://193.2.76.40:8001/blog/accueil">{{i}} </a></td>
        </tr>
       {% endfor %}
    
</table>

<table>
    <caption>Values List</caption>
    <br>
    
   <tr>
       <th>Values output</th>
   </tr>
    
    <tr>
        <th>{? echo $block; ?}</th>
    </tr>
    
    {% for i in listofvalueout %}                                
        <tr>
            <td> <a href="{% url 'InputOutput' listoftransaction[i] %}" > {{i}</a></td>
        </tr>
       {% endfor %}
    
</table>


         
</div>
    
</center>

    
</form>
