<form action="{% url "bitcointransaction" %}" method="post">
    {% csrf_token %}
    {{ form.hauteur.visible_field}}
    <input type="submit" value="Submit" />

    <div>
    {% csrf_token %}
    {{ form.as_p }}
    </div>
    <center>
    <div class="tableau",display: none> 
         
             
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      1 of 3
    </div>
    <div class="col-md-auto">
      Variable width content
    </div>
  </div>
            
            
    <br />
         
<table>
    <caption>Transactions List</caption>
    
   <tr>
       <th>Transaction's ID</th>
       <th>Transaction's Hash</th>
   </tr>

    
<?php for (i=0;i++;i<len(listoftransactionid))?>
    <tr>
        <td><?php echo $i; ?></td>
        <td><?php echo $listoftransactionis[i]; ?></td>
    </tr>
    
    
   <tr>
       <td>Carmen</td>
       <td>33 ans</td>
   </tr>
   <tr>
       <td>Michelle</td>
       <td>26 ans</td>
   </tr>
</table>
    
</div>
    </center>



<div class="Wallets">

<p>The input Wallets are </p>

<p>The output Wallets are </p>
    
</div>
    
<div >
    <p>c'est la merde</p>
</div>
    
</form>