<center>
       
<form action="{% url "bitcointransaction" %}" method="post">
    <div class="container">
        Hauteur: <input type="number" name="hauteru" maxlength="7"><br>          
    </div>
<br>
            
    <input type="submit" value="Submit" />
    
    
    <br>
    <br>
    
    <br>
    <br>
    
         
<table>
    <caption>Transactions List</caption>
    <br>
    
   <tr>
       <th>Transaction's ID</th>
       <th>Transaction's Hash</th>
   </tr>

    
    {? for (i=0;i++;i<len(listoftransaction)) ?}{                                
            <tr>
                <td> {? echo $i; ?} </td>
                <td> <a href="{% url 'listoftransaction[i]' %}"> {? echo $listoftransaction[i]; ?}</a> </td>
            </tr>
        }
    
</table>
    
</div>
    
</center>

    
</form>